/* 
    Created on : 21/11/2022, 18:35:07
    Author     : heloysa
*/


card-header{
     padding: 0;
        
   
    text-align:center;
    margin: 4px 0;
}
body {
    padding: 0;
    margin: 0;

}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;


}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;
    color: black;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: black;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
    color: black;

}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
    color: black;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
    color: black;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: black;


}

.card-footer {
    display: flex;
    flex-direction: column;
    color: black;
}

.card-footer .submit{
    width: 100%;
    height: 40px;
    background-color: #DAA520;/*BOTAO*/
    border:none;
    color:#e1e1e1;
    margin: 10px 0;
    color: black;
}

.card-footer a { /*registre-se*/
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    color: black;
    text-decoration: none;
}
.recuperar_senha{  /*esqueceu a senha*/
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    color: #fff;
}
#cadastro,
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    color: black;
    font-size: 13px;
    
}
.cadastrar_{
    width: 100%;
    align-items: center;
    height: 25px;
    background-color: #DAA520;/*BOTAO*/
    border:none;
    font-size: 17px;
   
    text-align:center;
    margin: 4px 0;
}



